
# mount mtd partitions
    # Mount /system rw first to give the filesystem a chance to save a checkpoint
# mount mmc partitions
    wait /dev/block/mmcblk0p15
    mount ext4 /dev/block/mmcblk0p15 /system ro barrier=1
    wait /dev/block/mmcblk0p17
#    exec /system/bin/e2fsck -p /dev/block/mmcblk0p13
    mount ext4 /dev/block/mmcblk0p17 /data nosuid nodev barrier=1 noauto_da_alloc
    mount ext4 /dev/block/mmcblk0p12 /persist nosuid nodev barrier=1
    mount ext4 /dev/block/mmcblk0p16 /cache nosuid nodev barrier=1
    mount ext4 /dev/block/mmcblk0p27 /efs nosuid nodev barrier=0
    mount ext4 /dev/block/mmcblk0p25 /permanent nosuid nodev barrier=1

